<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/crimes.css') }}">
</head>
<body>
  <div class="container">
    <h1>Crimes for Criminal ID: {{ criminal_id }}</h1>
    {% for crime in crimes %}
    <div class="card" onclick="location.href='/crime-details/{{ crime.Crime_ID }}'">
      <div class="card-header">Crime ID: {{ crime.Crime_ID }}</div>
      <div class="card-body">
        <p>Crime_ID: {{ crime.crime_ID }}</p>
        <p>Classification: {{ crime.crime_classification }}</p>
        <p>Date charged: {{ crime.date_charged.strftime('%m/%d/%Y') }}</p>
        <p>Status: {{ crime.crime_status }}</p>
        <p>Hearing date: {{ crime.hearing_date.strftime('%m/%d/%Y') }}</p>
        <p>Appeal cut date: {{ crime.appeal_cut_date.strftime('%m/%d/%Y') if crime.appeal_cut_date else 'N/A' }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</body>
</html>
